<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Course</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="">title</label><br>
        <input type="text" name="title" value="{{ course.title }}"><br>
        <label for="">description</label><br>
         <input type="text" name="description" value="{{ course.description }}"><br>
        <label for="">price</label><br>
         <input type="number" name="price" value="{{ course.price }}"><br>
         <button type="submit">Update</button>
    </form>
</body>
</html>